.container {
    position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

p {
    text-align: center;
    font-size: 20px;
    color: gray;
}

.hi {
    font-size: 60px;  
    font-family: 'Roboto Slab', serif;
    color: #5222c3;
}

.description {
    font-family: 'Raleway', sans-serif;
}

.find {
    font-family: 'Raleway', sans-serif;
}

a:link, a:visited, a:active {
	text-decoration: none;
	}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
  }
  
.fa:hover {
      opacity: 0.7;
  }

.fa-linkedin {
    background: #373277;
    color: white;
}

.fa-dribbble {
    background: #373277;
    color: white;
}

.fa-behance {
    background: #373277;
    color: white;
}

.fa-github {
    background: #373277;
    color: white;
}

.fa-medium {
    background: #373277;
    color: white;
}

.fa-twitter {
    background: #373277;
    color: white;
}